tr{
    text-align: center;
}
td{
    font-size: 12px;
    border:1px solid black;
}
h4{
    padding-top: 10px;
}
.card{
    color:green;
    font-size: 1em;
}
.moneyBox{
    position: absolute;
    bottom:10px;
    right: 10px;
}
.going{
    display: inline;
}
.total{
    font-size: 3em;
    color: #72bf44;
    padding: 1%;
}
.container{
text-align: center;
}
.container h2{
    padding: 2%;
}
.rulesPlay{
border:1px solid gray;
box-shadow: 2px 2px 4px gray;
width:80%;
margin:100px auto;
padding: 3%;
}
.notView{
    display: none;
}
.report{
    display: none;
}
.theEnd{
    text-align: center;
    font-size: 2em;
    color:darkgreen;
    margin-top: 45vh;
}

.boxReport{
    text-align: center;
}
.resultBox{
    border:1px solid red;
}
.overResult{
    color:red;
}
.identResult{
    color:green;
}
.underResult{
    color:blue;
}