tr{
    text-align: center;
}
td{
    font-size: 12px;
    border:1px solid black;
}
h4{
    padding-top: 10px;
}
.card{
    color:green;
    font-size: 2em;
}
.going{
    display: inline;
}
.wait{
    display: none;
}
.total{
    border:2px solid #72bf44;
    font-size: 3em;
    color: #72bf44;
    padding: 1%;
}
.container{
}