.warningInfo{
   color:red;
   font-size:0.8em;
   float:right;
   padding-right: 2%;
}
.addInput{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   padding:1%;
}
.addInput input{
width: 90%;
}
.disabled{
display:none;
}
.errorInput{
   background-color: rgb(250, 210, 210);
}